*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

li,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 25px 3fr 6fr;
  grid-template-areas:
    "header header"
    "result history"
    "numbers history";
}
header {
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  background: #fff;
}

header .icons {
  justify-content: space-between;
}
.icons i {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin-right: 15px;
  cursor: pointer;
}
.close:hover {
  background: rgb(206, 89, 89);
  color: #fff;
}
.mini:hover,
.max:hover {
  background: #ddd;
  color: #fff;
}
div.result {
  grid-area: result;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4px;
}
.burger {
  display: inline-flex;
  margin-left: 10px;
}
.burger i:hover{
  background: #ddd;
  }
.burger p {
  margin-left: 15px;
}
.result .modes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
}
.modes p {
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
}
.modes p:hover {
  background: #ddd;
}
.modes p.de-active {
  color: #999;
}
.modes i {
  font-size: 8px;
}

.result .zero {
  align-self: flex-end;
}
.history {
  grid-area: history;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.history p {
  display: inline-flex;
  justify-content: center;
}
.numbers {
  grid-area: numbers;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background: #f1f1f1;
  text-align: center;
}
.numbers p {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #efefef;
}
.n {
  background-color: #fff;
}
.numbers p:hover {
  background: #ddd;
}
.n:hover {
  background: rgb(124, 61, 61);
}
