*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: lightgray;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 320px;
  grid-template-rows: 25px 3fr 6fr;
  grid-template-areas:
    "header header"
    "result history"
    "button history";
}
header {
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.title p {
  font-size: 1rem;
}
header .icons {
  justify-content: space-between;
}
.icons i {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 24px;
  border-radius: 4px;
  cursor: pointer;
}
.icons i:last-child {
  margin-right: 5px;
}
.close:hover {
  background: rgb(206, 89, 89);
  color: #fff;
}
.mini:hover,
.max:hover {
  background: rgb(195, 191, 191);
  color: #fff;
}
div.result {
  grid-area: result;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4px;
}
.burger {
  display: inline-flex;
  margin-left: 10px;
  justify-content: space-between;
}
.burger p {
  font-weight: bolder;
  margin-left: 15px;
}
.burger .left-side {
  display: flex;
  align-items: baseline;
}
.burger .left-side p + img {
  width: 24px;
  height: 20px;
  margin-left: 1rem;
}
.left-side img {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 32px;
  cursor: pointer;
}
.left-side p {
  align-self: center;
}
.burger .right-side {
  align-self: center;
}
.right-side img {
  display: none;
}
.burger img:hover {
  background: rgb(195, 191, 191);
}
.result .zero {
  justify-content: flex-end;
  font-size: 3.37rem;
  font-weight: bold;
}
.result .modes {
  display: flex;
  max-width: 380px;
  justify-content: space-between;
  align-items: center;
}
.modes p {
  font-size: 0.75rem;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  width: 25%;
}
.modes p.active:hover {
  background: #ddd;
}
.modes p.active {
 font-size: 0.9rem;
 font-weight: 500;
}
.modes p.de-active {
  color: #999;
  cursor: default;
}
.modes i {
  font-size: 0.5rem;
}

.result .zero {
  align-self: flex-end;
  padding-right: 1.3rem;
  padding-bottom: 1.1rem;
}
.history {
  grid-area: history;
  margin-left: 5px;
  padding-top: 0.2rem;
}
.history p {
  margin-top: 2.3rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.history h4 {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
}
.history h4:first-child{
  padding-bottom: 0.2rem;
  border-bottom: 2px solid orange;
}
.numbers {
  grid-area: button;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  text-align: center;
  gap: 2px;
}
.numbers p {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.number {
  background-color: #fff;
  font-weight: bolder;
  font-size: 1.5rem;
}
.sign {
  font-size: 1.2rem;
  background-color: rgb(236, 234, 234);
}
.sign i , img {
  background-color: inherit;
}
.numbers p:hover {
  background: #ddd;
}
sup ,
sub{
  background-color: inherit;
}
/* this section is for step 2 */
/* @media  only screen and (max-width : 769px ) {
  .history{
    display: none;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 3fr 6fr;
    grid-template-areas:
      "header header"
      "result"
      "button";
  }
  .right-side img{
    display: block;
  }
} */
